name: ci

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:

jobs:

  test-python:
    name: test ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.11'
          - '3.12'
          - '3.13'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run python tests
        run: uv run pytest tests
      - name: Run rust tests
        run: cargo test --all

  docs:
    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          python-version: "3.11"
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v2
      - name: docs
        run: |
          make docs-strict
      - name: docs-with-changelog
        run: |
          # Check CHANGELOG will build too
          uv run towncrier build --yes
          uv run mkdocs build --strict
          # Just in case, undo the staged changes
          git restore --staged . && git restore .
